@font-face { font-family: 'RIDIBatang'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'NanumBarunGothic'; font-style: normal; font-weight: 400; src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot'); src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype'); } 
*{
    margin: 0;
    padding: 0;
}
.container-fluid{
    padding: 0;
}
.col-sm-4,.col-sm-3,.col-lg-4,.col-lg-3{
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
    display: block;
}


.section01-bg{
    background: url('../images/scetion01-bg.jpg') no-repeat;
    background-size: cover;
    height: 100%;
}
.section01-title{
    text-align: right;
}
.section01-title>h1{
    color: #fff;
    font-family: 'RIDIBatang';
    letter-spacing: 18px;
    margin: 0;
    padding-top: 30%;
    padding-right: 5%;
    font-size: 60px;
}
.section01-title>p{
    color: #fff;
    padding-right: 5%;
    font-size: 18px;
}
@media(max-width:1440px){
    .section01-title>h1{
        padding-top: 400px;
        padding-right: 0;
        text-align: center;
        letter-spacing: 20px;
        margin-left: 20px;
    }
    .section01-title>p{
        padding-right: 0;
        text-align: center;
    }
}
@media(max-width:375px){
    .section01-bg{
        background: url(../images/scetion01-bg-375.jpg) no-repeat;
        background-position: center;
        background-size: cover;
    }
    .section01-title>h1{
        padding-top: 400px;
        font-size: 24px;
    }
    .section01-title>p{
        font-size: 12px;
    }
}
/* section01 */


/* section02 */
#section02{
    background-color: rgba(0, 0, 0, 0.9);
    font-family: 'NanumBarunGothic';
}
.sec02-img1{
    height: 280px;
    background: url(../images/sec02-img1.jpg) no-repeat;
    background-position: bottom;
    margin-top: 10%;
}
.sec02-title1{
    text-align: center;
    color: #fff;

}
.sec02-img2{
    height: 280px;
    background: url(../images/sec02-img2.jpg) no-repeat;
    background-position: bottom;
    margin-top: 10%;
}
.sec02-title2{
    text-align: center;
    color: #fff;
}
.sec02-img3{
    height: 280px;
    background: url(../images/sec02-img3.jpg) no-repeat;
    background-position: center;
    margin-top: 2%;
}
.sec02-title3{
    text-align: center;
    color: #fff;
}
@media(max-width:1440px){
    .sec02-title1>h1{
        font-size: 24px;
    }
    .sec02-title2>h1{
        font-size: 24px;
    }
    .sec02-title3>h1{
        font-size: 24px;
    }

    .sec02-img1,.sec02-img2,.sec02-img3{
        height: 250px;
    }
}
@media(max-width:1280px){
    .sec02-img3{
        margin-top: 4%;
    }
}
@media(max-width:768px){
    .sec02-img1,.sec02-img2,.sec02-img3{
        margin-top: 2%;
    }
    h1{
        margin-top: 10px;
    } 
}
@media(max-width:375px){
    .sec02-img1,.sec02-img2,.sec02-img3{
        height: 150px;
        background-size: cover;
    }
    .sec02-title1>h1{
        font-size: 16px;
    }
    .sec02-title2>h1{
        font-size: 16px;
    }
    .sec02-title3>h1{
        font-size: 16px;
    }
    .sec02-img1{
        margin-top: 100px;
    }
    h4{
        font-size: 12px;
    }
}
/* section02 */







/* section03 */
#section03{
    font-family: 'NanumBarunGothic';
}
.sec03-title{
    padding: 60px 0;
}
.car-color-img{
    padding: 30px 0;
}
#steel,#moon,#black,#burgundy,#rain{
    display: none;
}
.color-title{
    padding: 50px 0;
}
.steel,.moon,.black,.burgundy,.rain{
    display: none;
}
.tab-color{
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
}
.tab-color>li{
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.wc{
    background-color: #fff;
    border: 3px solid #444;
}
.st{
    background-color: #363938;
    border: 1px solid #444;
}
.mo{
    background-color: #1d2538;
    border: 1px solid #444;
}
.bl{
    background-color: #000;
    border: 1px solid #444;
}
.bu{
    background-color: #37171a;
    border: 1px solid #444;
}
.ra{
    background-color: #2c3836;
    border: 1px solid #444;
}
@media(max-width:1440px){
    .sec03-title{
        padding: 0;
    }
    .sec03-title>h1{
        font-size: 24px;
    }
    .sec03-title>h4{
        font-size: 16px;
    }
    .color-title{
        padding: 0;
    }
    .tab-color{
        padding: 0;
    }
    .car-color-img{
        padding: 0;
        padding-bottom: 10px;
    }
}
@media(max-width:1280px){
    .sec03-title{
        padding: 20px 0;
    }
    .color-title>ul>li>h2{
        font-size: 24px;
    }
}
@media(max-width:768px){
    .sec03-title{
        padding: 100px 0;
    }
    .sec03-title>h4{
        display: none;
    }
    .car-color-img>div>img{
        display: none;
    }
    #white{
        background: url(../images/car-color-media-white.jpg) no-repeat;
        height: 500px;
        background-size: cover;
        background-position:center;
    }
    #steel{
        background: url(../images/car-color-media-steel.jpg) no-repeat;
        height: 500px;
        background-size: cover;
        background-position:center;
    }
    #moon{
        background: url(../images/car-color-media-moon.jpg) no-repeat;
        height: 500px;
        background-size: cover;
        background-position:center;
    }
    #black{
        background: url(../images/car-color-media-black.jpg) no-repeat;
        height: 500px;
        background-size: cover;
        background-position:center;
    }
    #burgundy{
        background: url(../images/car-color-media-burgundy.jpg) no-repeat;
        height: 500px;
        background-size: cover;
        background-position:center;
    }
    #rain{
        background: url(../images/car-color-media-rain.jpg) no-repeat;
        height: 500px;
        background-size: cover;
        background-position:center;
    }
}
@media(max-width:375px){
    .sec03-title{
        padding: 30px 0;
        margin-top: 120px;
    }
    .sec03-title>h1{
        font-size: 16px;
    }
    .color-title>ul>li>h2{
        font-size: 14px;
    }
    #white,#steel,#moon,#black,#burgundy,#rain{
        height: 250px;
    }
    .color-title{
        margin-top: 50px;
    }
    .tab-color>li{
        width: 30px;
        height: 30px;
    }
    .tab-color{
        padding:0 20px
    }
}
/* section03 */




/* section04 */
#section04{
    background: rgba(0, 0, 0, 0.9);
    font-family: 'NanumBarunGothic';
    color: #fff;
}
.sec04-title{
    padding: 50px 0;
}
.swiper-wrapper{
    width: 1120px;
    height: 750px;
}
.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    opacity: 1;
}

.sec04-img1{
    width: 100%;
    height: 600px;
    background: url(../images/black-seat.jpg) no-repeat;
}
.sec04-img2{
    width: 100%;
    height: 600px;
    background: url(../images/black-seat2.jpg) no-repeat;
}
.sec04-img3{
    width: 100%;
    height: 600px;
    background: url(../images/burgundy-seat.jpg) no-repeat;
}
.sec04-img4{
    width: 100%;
    height: 600px;
    background: url(../images/white-crea-seat.jpg) no-repeat;
}
.seat-sub{
    text-align: center;
}
.sub-more{
    color: #000;
    border: none;
    margin-bottom: 5px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    display: none;
    margin: 0 auto;
}
@media(max-width:1440px){
    .sec04-title{
        padding:20px 0;
        font-size: 30px;
    }
    .swiper-wrapper{
        width: 100%;
        height: 600px;
    }
    .seat-sub>h1{
        font-size: 24px;
    }
    .sec04-img1{
        height: 450px;
        background-size: cover;
        background-position: center;
    }
    .sec04-img2{
        height: 450px;
        background-size: cover;
        background-position: center;
    }
    .sec04-img3{
        height: 450px;
        background-size: cover;
        background-position: center;
    }
    .sec04-img4{
        height: 450px;
        background-size: cover;
        background-position: center;
    }
}
@media(max-width:768px){
    .sec04-title{
        padding: 100px 0;
    }
    .swiper-wrapper{
        height: 700px;
    }
    .seat-sub>p{
        display: none;
        text-align: left;
        letter-spacing: 1px;
        padding: 0 60px;
        font-size: 16px;
    }
    .sub-more{
        display: block;
    }
}
@media(max-width:375px){
    .sec04-title{
        font-size: 16px;
        padding: 30px 0;
        margin-top: 100px;
    }
    .swiper-wrapper{
        height: 460px;
    }
    .sec04-img1,.sec04-img2,.sec04-img3,.sec04-img4{
        height: 300px;
    }
    .seat-sub>h1{
        font-size: 16px;
    }
    .seat-sub>p{
        font-size: 12px;
        padding: 0 10px;
    }
}
/* section04 */




/* section05 */
#section05{
    font-family: 'NanumBarunGothic';
}
.left-img{
    height: 500px;
    background: url(../images/sec04-img1.jpg);
    background-size: cover;
    background-position: right;
}
h4{
    margin: 0;
}
.option{
    margin: 0;
    color: #fff;
    text-align: center;
    padding-top: 250px;
}
.bg-black1{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}
.bg-black{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: none;
}
.img-box{
    height: 250px;
    overflow: hidden;
}
.right-img1{
    background: url(../images/right-img1.jpg);
    height: 100%;
    background-position: center;
    background-size: cover;
    transition: all 0.5s;
}
.right-img1:hover{
    transform: scale(1.1);
}
.img1-sub{
    color: #fff;
    padding-top: 125px;
    text-align: center;
    font-size: 10px;
}
.right-img2{
    background: url(../images/right-img2.jpg);
    height: 100%;
    background-position: center;
    background-size: cover;
    transition: all 0.5s;;
}
.right-img2:hover{
    transform: scale(1.1);
}
.img2-sub{
    color: #fff;
    padding-top: 125px;
    text-align: center;
    font-size: 10px;
}

.right-img3{
    background: url(../images/right-img3.jpg);
    height: 100%;
    background-position: center;
    background-size: cover;
    transition: all 0.5s;
}
.right-img3:hover{
    transform: scale(1.1);
}
.img3-sub{
    color: #fff;
    padding-top: 125px;
    text-align: center;
    font-size: 10px;
}

.right-img4{
    background: url(../images/right-img4.jpg);
    height: 100%;
    background-position: center;
    background-size: cover;
    transition: all 0.5s;
}
.right-img4:hover{
    transform: scale(1.1);
}
.img4-sub{
    color: #fff;
    padding-top: 125px;
    text-align: center;
    font-size: 10px;
}

.right-img5{
    background: url(../images/right-img5.jpg);
    height: 100%;
    background-position: center;
    background-size: cover;
    transition: all 0.5s;
}
.right-img5:hover{
    transform: scale(1.1);
}
.img5-sub{
    color: #fff;
    padding-top: 125px;
    text-align: center;
    font-size: 10px;
}

.right-img6{
    background: url(../images/right-img6.jpg);
    height: 100%;
    background-position: center;
    background-size: cover;
    transition: all 0.5s;
}
.right-img6:hover{
    transform: scale(1.1);
}
.img6-sub{
    color: #fff;
    padding-top: 125px;
    text-align: center;
    font-size: 10px;
}

.right-img7{
    background: url(../images/right-img7.jpg);
    height: 100%;
    background-position: center;
    background-size: cover;
    transition: all 0.5s;
}
.right-img7:hover{
    transform: scale(1.1);
}
.img7-sub{
    color: #fff;
    padding-top: 125px;
    text-align: center;
    font-size: 10px;
}

.right-img8{
    background: url(../images/right-img8.jpg);
    height: 100%;
    background-position: center;
    background-size: cover;
    transition: all 0.5s;
}
.right-img8:hover{
    transform: scale(1.1);
}
.img8-sub{
    color: #fff;
    padding-top: 125px;
    text-align: center;
    font-size: 10px;
}
.sec05-title{

    padding: 50px;
}
@media(max-width:1440px){
    .sec05-title{
        padding: 70px 0 20px;
    }
    .sec05-title>h1{
        font-size: 30px;
    }
    .sec05-title>h4{
        font-size: 16px;
    }
    .left-img{
        height: 400px;
    }
    .img-box{
        height: 200px;
    }
    .option{
        padding-top: 200px;
    }
    .img1-sub,.img2-sub,.img3-sub,.img4-sub,.img5-sub,.img6-sub,.img7-sub,.img8-sub{
        padding-top: 100px;
    }
   
    .img1-sub>h4,.img2-sub>h4,.img3-sub>h4,.img4-sub>h4,.img5-sub>h4,.img6-sub>h4,.img7-sub>h4,.img8-sub>h4{
        font-size: 10px;
    }
}
@media(max-width:768px){
    .sec05-title{
        display: none;
    }
    .left-img{
        margin-top: 10px;
    }
    .option{
        padding-top: 100px;
        font-size: 16px;
    }
    .img-box{
        height: 150px;
    }
    .img1-sub,.img2-sub,.img3-sub,.img4-sub,.img5-sub,.img6-sub,.img7-sub,.img8-sub{
        padding-top: 75px;
    }
    .img1-sub>h4,.img2-sub>h4,.img3-sub>h4,.img4-sub>h4,.img5-sub>h4,.img6-sub>h4,.img7-sub>h4,.img8-sub>h4{
        font-size: 16px;
    }
}
@media(max-width:375px){
    .left-img{
        height: 200px;
        margin-top: 80px;
    }
    .img-box{
        height: 110px;
    }
    .img1-sub,.img2-sub,.img3-sub,.img4-sub,.img5-sub,.img6-sub,.img7-sub,.img8-sub{
        padding-top: 55px;
    }
    .img1-sub>h4,.img2-sub>h4,.img3-sub>h4,.img4-sub>h4,.img5-sub>h4,.img6-sub>h4,.img7-sub>h4,.img8-sub>h4{
        font-size: 12px;
    }
}
/* section05 */


/* section06 */
#section06{
    background: rgba(0, 0, 0, 0.9);
    font-family: 'NanumBarunGothic';
    color: #fff;
}
.sec06-pill{
    width: 1150px;
}
.sec06-title{
    padding: 50px 0;
}
.video-box{
    margin-top: 10px;
}
/* video{
    width: 100%;
} */
.video-sub{
    padding: 25px 0;
}
.sub-btn{
    display: none;
}
@media(max-width:1440px){
    .sec06-title{
        font-size: 30px;
    }
    .video-title>h3{
        font-size: 24px;
    }
    .nav{
        padding:0;
    }
}
@media(max-width:768px){
    .sec06-title{
        padding: 100px;
    }
    .sec06-pill{
        width: 100%;
    }
    video{
        width: 100%;
    }
    .sub-btn{
        display: block;
        text-align: center;
    }
    .video-sub1,.video-sub2,.video-sub3,.video-sub4,.video-sub5{
        text-align: center;
        display: none;
    }
}
@media(max-width:375px){
    .sec06-title{
        padding: 30px;
        font-size: 16px;
        margin-top: 100px;
    }
    .video-title{
        font-size: 16px;
    }
    .video-sub{
        padding: 10px 15px;
    }
    .video-sub1,.video-sub2,.video-sub3,.video-sub4,.video-sub5{
        text-align: center;
        font-size: 12px;
        text-align: left;
    }
    .video-menu>ul>li>a{
        font-size: 12px;
    }
}
/* section06 */


